<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/user_profile.css">
    </head>

    <body>
        <h1>This is second codeial<%= title %></h1>
    </body>
</html>