<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <h1>This is second codeial <%= title %></h1>
        <p><%= user.name %></p>
        <p><%= user.email %></p>
    </body>
    
</html>
